In [0]:
#Jenil Gathani - J061
#Poojan Mehta - J063
import pandas as pd
import spacy

In [0]:
data = pd.read_json('http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz',lines=True)

In [0]:
dF = pd.DataFrame(data)

In [4]:
dF.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
eng = spacy.load('en_core_web_sm')

In [0]:
#ratio is zero when count of verbs is zero
def spacyPipe(str):
  review = eng(str)
  countN = 0
  countV = 0
  for n in review:
    if n.pos_ == 'NOUN':
      countN += 1
    elif n.pos_ == 'VERB':
      countV += 1
  if countV != 0:
    ratio = countN/countV
  else:
    ratio = 0
  final = {'Number of Nouns' : countN,'Number of Verbs' : countV,'Noun:Verb' : ratio}
  return final

In [14]:
dF['spacy']=dF['reviewText'].apply(spacyPipe)
dF.head()

       reviewerID  ...                                              spacy
0  A32T2H8150OJLU  ...  {'Number of Nouns': 25, 'Number of Verbs': 39,...
1  A3MAFS04ZABRGO  ...  {'Number of Nouns': 227, 'Number of Verbs': 14...
2  A1F1A0QQP2XVH5  ...  {'Number of Nouns': 17, 'Number of Verbs': 19,...
3   A49R5DBXXQDE5  ...  {'Number of Nouns': 147, 'Number of Verbs': 12...
4  A2XRMQA6PJ5ZJ8  ...  {'Number of Nouns': 26, 'Number of Verbs': 25,...

[5 rows x 10 columns]

In [15]:
dF['spacy'][1]

{'Noun:Verb': 1.5763888888888888,
 'Number of Nouns': 227,
 'Number of Verbs': 144}